


<div class="container form-group">

    <h4>Управление контетом сайта</h4>
    <hr />

    <label>Создать публикацию в энциклопедии рыб: </label>
    <a href="/Home/AddFish" class="btn btn-default">
        Добавить рыбу
    </a>



    <hr />

    <label>Создать публикацию в энциклопедии озёр: </label>
    <a href="/Home/AddLake" class="btn btn-default">
        Добавить озеро
    </a>

    <hr />

    <label>Создать магазин-партнёр: </label>
    <a href="/Home/AddShop" class="btn btn-default">
        Создать
    </a>

    <hr />

    <label>Создать тему форма: </label>
    <a href="/Forum/AddThemeDiscussion" class="btn btn-default">
        Создать
    </a>
    <hr />
    <label>Создать новость: </label>
    <a href="/Forum/AddThemeDiscussion" class="btn btn-default">
        Создать
    </a>



</div>
